/* Page Style */
html, body {
	height: 100%;
  min-height: 100%;
}
body{
	color: #523a3a;
	font-family: Tahoma;
	font-size: 14pt;
	line-height: 18pt;
}
.page-image {
    background: url(../img/page-image.jpg) no-repeat center center;
    background-size: cover;
    height: 100%;
    width: 100%;
    min-height: 700px;
}

a {
    color: #791a1f;
}
a.link-white, a.link-white:hover, a.link-white:active, a.link-white:focus {
    color: #fff;
}
a > i {
    margin: 0 7px;
}

#coming-soon{
	background: rgba(0,0,0,0.0);
	display: block;
	position: absolute;
	width: 800px;
	height: 260px;
	top: 50%;
	left: 50%;
	margin: -130px 0 0 -400px;
	text-align: center;
}
#coming-soon h1{
	font-size: 25px;
}
#coming-soon .logo img{
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
}
#coming-soon .social-media-links {
	margin-top: 20px;
}